<a href="https://colab.research.google.com/github/Fahrililham/Coursera---Google-IT-Automation-with-Python/blob/main/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pyhton !**

There is first step introduction with write command to print "Hello World!".

In [1]:
print("Hello World!")

Hello World!

How to print "Hello World!" in 10 times.

In [10]:
for i in range(10):
  print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

This is another example.

In [8]:
name = "Brian"         # don't forget to add double quotes for a string 
print("Hello " + name)

Hello Brian

Example small blocks of Python.

In [11]:
friends = ['Taylor', 'Alex', 'Pat', 'Eli']
for friend in friends:
  print("Hello " + friend)

Hello Taylor
Hello Alex
Hello Pat
Hello Eli

Examples for math usage.

In [9]:
print(4+5)
print(9*7)
print(-1/4)
print(1/3)
print(((2050/5)-32)/9)
print(2**10)      # it is used for power of

9
63
-0.25
0.3333333333333333
42.0
1024