<a href="https://colab.research.google.com/github/Fahrililham/Coursera---Google-IT-Automation-with-Python/blob/main/Crash_Course_on_Python_Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **While Loops, For Loops, Recursion**

### **While Loops**

> **While loops** instruct your computer to continuously execute your code based on the value of a condition.

In [ ]:
x = 0          # initializing --> to give an initial value to a variable
while x < 5:
  print("Not there yet, x=" + str(x))
  x = x + 1
print("x=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

There is another example about while loop:

In [ ]:
def attempts(n):
  x = 1         # initializing --> to give an initial value to a variable
  while x <= n:
    print("Attempt " + str(x))
    x += 1
  print("Done")

And we try the code above with this:

In [ ]:
attempts(5)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Done

In another case the conditions used in while loops can also become more complex if we use the logical operators that we encountered when looking into branching, and, or, and not. This lets us combine the values of several expressions to get the result we want.



```
username = get_username()
while not valid_username(username):
  print("Invalid username")
  username = get_username()
```

**Why Initializing Variables Matters ?**

So here are some kind of error:
* **Error type: name error / undefined variable**

  This error telling us that we're using a variable we haven't defined.

* **Forget to initialize variables with the right value**

  This happen if we reuse the variable without setting the correct value from the start, it will still have value from before.
  
  (**N.B.** : In this case, it might be harder to catch the problem because python doesn't raise an error. The problem here is that our product variable has the wrong value. )

The code in below can give us a **infinite loops**:

```
while x % 2 == 0:
x = x / 2
```

So to avoid this infinite loops we can adding some code like this:

```
if x != 0:
  while x % 2 == 0:
    x = x / 2
```
or
```
while x != 0 and x % 2 == 0:
  x = x / 2
```

In Python, we use the **break keyword** to signal that the current loop should stop running.
```
while True:
  do_something_cool()
  if user_requested_to_stop():
    break
```

**How do you avoid the most common pitfalls when writing while loops?**
* First, remember to initialize your variables
* Second, check that your loops won't run forever.

### **For loops**

> **For loop**: iterates over a sequence of values

This example for using for loops:

In [1]:
for x in range(5):
  print(x)

0
1
2
3
4

Then here another examples:

In [2]:
friends = ['Taylor', 'Alex', 'Pat', 'Eli']
for friend in friends:
  print("Hi " + friend)

Hi Taylor
Hi Alex
Hi Pat
Hi Eli

In [3]:
values = [23, 52, 59, 37, 48]
sum = 0
length = 0
for value in values:
  sum += value
  length += 1

print("Total sum: " + str(sum) + " - Average: " + str(sum/length))

Total sum: 219 - Average: 43.8

We will use for loops to automate tons of stuff like that:
* Copy files to machines
* Process the contents of files
* Automatically install software

> Use **for loops** when there's a sequence of elements that you want to iterate.

> Use **while loops** when you want to repeat an action until a condition changes.

This example of using **2 parameters**:

In [4]:
product = 1
for n in range(1, 10):
  product = product * n

print(product)

362880

Based on the code above, if we use 0(zero) for the operation the result will be given 0(zero).

Then below is an example of using **3 parameters**:

In [5]:
def to_celcius(x):
  return (x-32)*5/9

In [6]:
for x in range(0, 101, 10):
  print(x, to_celcius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

**Nested for loops** means write two for loops; one inside the other.

For instance:

In [9]:
for left in range(7):
  for right in range(left, 7):
    print("[" + str(left) + "|" + str(right) + "]", end=" ")
  print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

The **end=" "** parameter is use to print to write something else instead of the newline character.

Then here another example from nested for loops:

In [10]:
teams = ['Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
  for away_team in teams:
    if home_team != away_team:
      print(home_team + " vs " + away_team)

Dragons vs Wolves
Dragons vs Pandas
Dragons vs Unicorns
Wolves vs Dragons
Wolves vs Pandas
Wolves vs Unicorns
Pandas vs Dragons
Pandas vs Wolves
Pandas vs Unicorns
Unicorns vs Dragons
Unicorns vs Wolves
Unicorns vs Pandas

Based on the code above the team don't playing against itself.

Nested for loops are a useful tool when solving problems that require them, but we need to be careful of where and how we use them.

Afterward a common errors in for loops:

In [11]:
for x in 25:
  print(x)

TypeError: ignored

We can see the code on above has problem such as that integers are not iterable.

So ther are two solutions to this problem:

* If we want to go from zero to 25 we use range function:

In [12]:
for x in range(25):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

* If we're trying to iterate over a list that has 25 as the only element, then it needs to be a list and that means writing it between square brackets:

In [13]:
for x in [25]:
  print(x)

25

Another example:

In [14]:
def greet_friends(friends2):
  for friend2 in friends2:
    print("Hi " + friend2)

In [18]:
greet_friends(['Taylor', 'Luisa', 'Jamaal', 'Eli'])

Hi Taylor
Hi Luisa
Hi Jamaal
Hi Eli

What if we use another way

In [20]:
greet_friends("Barry")

Hi B
Hi a
Hi r
Hi r
Hi y

This happens because **strings are iterable**.

So to sum it up,

* if you get an error that a certain type isn't iterable:
  * you need to make sure the for loop is using a sequence of elements and not just one

* if you find your code iterating through each letter of a string when you want it to do it for the whole string
  * you probably want to have that string be a part of a list.