<a href="https://colab.research.google.com/github/Fahrililham/Coursera---Google-IT-Automation-with-Python/blob/main/Crash_Course_on_Python_Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expressions & Variables, Functions, Conditionals

### Data Types on Python

Below are examples of some data types.

In [ ]:
print(7+8)    # type data : integer
print("Hello " + "world")   # type data : string

15
Hello world

Then here example if adding between type data integer and string.

In [ ]:
print(7 + "8")

TypeError: ignored

Don't worry if the above code doesn't run smoothly. There you can see there is a "TypeError" warning so we can know what the problem is in the code.

Then if we want to know the form of the data type of a data we can use this syntax.

In [ ]:
print(type("a"))
print(type(2))
print(type(2.5))

<class 'str'>
<class 'int'>
<class 'float'>

### Variables on Python

In Python there are have several variable naming restrictions.


*   Don't use keywords or functions that Pyhton reserves for its own. (Example : print)
*   Don't use spaces
*   Must start with a letter or an underscore(_)
*   Must be made up of only letters, numbers, and underscores(_)

For example:
*   i_am_a_variable (valid)
*   i_am_a_variable2 (valid)
*   1_is_a_number (invalid)
*   apples_&_oranges (invalid)

In Python variables are **case sensitive**.  Lowercasename, uppercasename and ALLCAPSNAME are all valid and different variable names, and that rule on variables is invariable.

Below is an example of using variables.

In [ ]:
length = 10
width = 2
area = length * width

The process of storing a value inside a variable is called **assignment**. Here we assign the length variable the value of 10. We assign the width variable the value of two and we assign the area variable with the result of the expression length times width.

An **expression** is a combination of numbers, symbols or other variables that produce a result when evaluated. In this example, we are multiplying the value of two variables to arrive at the value that we want.

Finally, we can use print function to display the value of the variable area.

In [ ]:
print(area)

20

Then there is the **implicit conversion**. The interpreter automatically converts one data type into another.

In [ ]:
print(7 + 8.5)  # integer + float, computer automatically converting integer to float
print("a"+"b"+"c")

15.5
abc

There is also an **explicit conversion**. In Python, to convert between one data type and another, we call a function with the name of the type we're converting to.

In [ ]:
base = 6
height = 3
area = (base*height)/2
print("The area of the triangle is: " + str(area)) # str() to convert integers to strings

The area of the triangle is: 9.0

### Functions

As previously known, print(), type(), str() are examples of built-in functions in Python.

Below is an example of a function we created ourselves.

In [ ]:
def greeting(name, departement):
  print("Welcome, " + name)
  print("You are part of " + departement)

Then we call the function.

In [ ]:
greeting("Roni", "IT Support")
greeting("Alisa", "Software Engineering")

Welcome, Roni
You are part of IT Support
Welcome, Alisa
You are part of Software Engineering

**Return Statement** in Python are even more interesting because we can use them to return more than one value.

Examples of its use.

In [ ]:
def area_triangle(base, height):
  return base*height/2

Then we input the value.

In [ ]:
area_a = area_triangle(5,4)
area_b = area_triangle(7,3)
sum = area_a + area_b
print("The sum of both areas is " + str(sum))

The sum of both areas is 20.5

Another example of using a return statement.

In [ ]:
def convert_seconds(seconds):
  hours = seconds // 3600
  minutes = (seconds - hours * 3600) // 60
  remaining_seconds = seconds - hours * 3600 - minutes * 60
  return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

In [ ]:
def greetings(name):
  print("Welcome " + name)

result = greetings("Christine")

Welcome Christine

In [ ]:
print(result)

None

The code above produces **None**. None is a very special data type in Python used to indicate that things are empty or that they return nothing.

Using functions can make our code not only more readable but also now reusable.

In [ ]:
def lucky_number(name):
  number = len(name) * 9    # len() used to return the length of the string.
  print("Hello " + name + ". Your lucky number is " + str(number))

lucky_number("Kay")
lucky_number("Cameron")

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

**Note** : 

**Self-documenting** code is written in a way that's readable and doesn't conceal its intent. This principle can be applied to all aspects of writing code from picking your variable names to writing clear concise expressions.

When we re-write code to be more self-documenting, we call this process **refactoring**.

### Conditionals

Example comparison operators :

In [ ]:
print(10 > 1)
print("cat" == "dog")
print(1 != 2)
print(1 < "1") # this code will give an error, because different data type

True
False
True

TypeError: ignored

How about this :

In [ ]:
print(1 == "1")

False

The code above will give a false result because it is known that there are two different data types.

Then here is an example of a logical operator:

In [ ]:
print("Yello" > "Cyan" and "Brown" > "Magenta")
print(25 > 50 or 1 != 2)
print(not 42 == "Answer")

False
True
True

Below is an example of using **if** and **else** statements.

In [ ]:
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be at least 3 characters long")

In [ ]:
hint_username("Adi")

Code above not print something because the body of the if block will only execute when the condition evaluates to true; otherwise, it skipped.

In [ ]:
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be at least 3 characters long")
  else:
    print("Valid username")

In [ ]:
hint_username("Adi")

Valid username

Another example:

In [ ]:
def is_even(number):
  if number % 2 == 0:
    return True
  return False

is_even(8)

True

Recap:

*   The **if statement** allows us to branch the execution based on a specific condition being true.
*   The **else statement** lets us set a piece of code to run only when the condition of the if statement was false.
*   **Return a value** inside an if block then the code after the block will only be executed if the condition was false.

Then below an example use **elif statement**.

In [3]:
def hint_usernames(username):
  if len(username) < 3:
    print("Invalid username. Must be at least 3 characters long")
  elif len(username) > 15:
    print("Invalid username. Must be at most 15 characters long")
  else:
    print("Valid username")

hint_usernames("Ronnie Fernandes")

Invalid username. Must be at most 15 characters long