<a href="https://colab.research.google.com/github/Fahrililham/Coursera---Google-IT-Automation-with-Python/blob/main/Crash_Course_on_Python_Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Types on Python

Below are examples of some data types.

In [1]:
print(7+8)    # type data : integer
print("Hello " + "world")   # type data : string

15
Hello world

Then here example if adding between type data integer and string.

In [2]:
print(7 + "8")

TypeError: ignored

Don't worry if the above code doesn't run smoothly. There you can see there is a "TypeError" warning so we can know what the problem is in the code.

Then if we want to know the form of the data type of a data we can use this syntax.

In [3]:
print(type("a"))
print(type(2))
print(type(2.5))

<class 'str'>
<class 'int'>
<class 'float'>

### Variables on Python

In Python there are have several variable naming restrictions.


*   Don't use keywords or functions that Pyhton reserves for its own. (Example : print)
*   Don't use spaces
*   Must start with a letter or an underscore(_)
*   Must be made up of only letters, numbers, and underscores(_)

For example:
*   i_am_a_variable (valid)
*   i_am_a_variable2 (valid)
*   1_is_a_number (invalid)
*   apples_&_oranges (invalid)

In Python variables are **case sensitive**.  Lowercasename, uppercasename and ALLCAPSNAME are all valid and different variable names, and that rule on variables is invariable.

Below is an example of using variables.

In [4]:
length = 10
width = 2
area = length * width

The process of storing a value inside a variable is called **assignment**. Here we assign the length variable the value of 10. We assign the width variable the value of two and we assign the area variable with the result of the expression length times width.

An **expression** is a combination of numbers, symbols or other variables that produce a result when evaluated. In this example, we are multiplying the value of two variables to arrive at the value that we want.

Finally, we can use print function to display the value of the variable area.

In [5]:
print(area)

20

Then there is the **implicit conversion**. The interpreter automatically converts one data type into another.

In [7]:
print(7 + 8.5)  # integer + float, computer automatically converting integer to float
print("a"+"b"+"c")

15.5
abc

There is also an **explicit conversion**. In Python, to convert between one data type and another, we call a function with the name of the type we're converting to.

In [8]:
base = 6
height = 3
area = (base*height)/2
print("The area of the triangle is: " + str(area)) # str() to convert integers to strings

The area of the triangle is: 9.0